<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autosgallery">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutosGallery"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.KisiBilgiActivity"></activity>
        <activity android:name=".Activity.IlanDetayActivity" />
        <activity android:name=".Activity.IlanlarActivity" />
        <activity android:name=".Activity.IlanlarimActivity" />
        <activity android:name=".Activity.IlanBilgileriActivity" />
        <activity android:name=".Activity.IlanResimlerActivity" />
        <activity android:name=".Activity.YakitActivity" />
        <activity android:name=".Activity.MotorPerformansActivity" />
        <activity android:name=".Activity.IlanTuruActivity" />
        <activity android:name=".Activity.AracBilgileriActivity" />
        <activity android:name=".Activity.AdresBilgileriActivity" />
        <activity android:name=".Activity.DogrulamaActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AutosGallery.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>